doctype html
html
  head
    title MARTA Scheduler
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1 MARTA Scheduler
    p Welcome to our MARTA Scheduler App!!!
    p Hello from Van, Ramata, and Ken!


//- script angular
//- script angular-ui-router