<!DOCTYPE html>
<html ng-app='martaApp'>
  <head>
    <meta charset="utf-8">
    <title>MARTA Scheduler</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

  </head>
  <body>
    <h1> MARTA Scheduler</h1>
    <div>
      <ui-view> loading...</ui-view>
    </div>

    <div>
      <a href='/signup'>Signup</a>
    </div>
    <div>
      <a href='/login'>Login</a>
    </div>

    <script src='angular/angular.min.js' type='text/javascript'></script>
    <script src='angular-ui-router/release/angular-ui-router.min.js' type='text/javascript'></script>
    <script src='javascripts/client.js' type='text/javascript'></script>
    <script src='javascripts/ng-services/user-service.js' type='text/javascript'></script>
    <script src='javascripts/ng-services/rail-service.js' type='text/javascript'></script>
    <script src='javascripts/ng-services/bus-service.js' type='text/javascript'></script>
  </body>
</html>
