<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MARTA Scheduler</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

  </head>
  <body>
    <h1>MARTA Scheduler</h1>
    <h3>Login Form</h3>
      <form method='POST' action='/login'/>
        <label for='emailOrUsername'>Email or Username:</label>
        <input type='text' placeholder='Email or Username' name='emailOrUsername'><br>
        <label for='password'>Password:</label>
        <input type='text' placeholder='Password' name='password'><br>
        <button type='submit'>Login</button>
 </body>
</html>
