<div>
  <h3>Logged in as: {{ $ctrl.user.user.username }}
</div>


<p>username: {{$ctrl.user.user.username}}</p>
  <button ng-click="$ctrl.getUser()">get user</button>
  <ul>
    <li ng-repeat="favorite in $ctrl.user.user.favorites">{{favorite}}</li>
  </ul>
  <input placeholder="username" ng-model="$ctrl.user.username"/>
  <input placeholder="email" ng-model="$ctrl.user.email"/>
  <input type="text" placeholder="add favorites" ng-model="$ctrl.favorites"/>
  <select>
    <option ng-repeat="favorite in $ctrl.user.favorites">{{favorite}}</option>
  </select>
  <input type="text" placeholder="remove favorites" ng-model="$ctrl.removeFavorite"/>
  <button ng-click="$ctrl.removeThisFavorite()">removeFavorite</button>
  <button ng-click="$ctrl.postUser()">post user</button>
  <!-- <input/> -->

  <div ng-repeat="bus in $ctrl.buses">
    <li ng-model="$ctrl.favorites" ng-click="$ctrl.setSelected(bus)">{{bus}}</li>
    <button ng-click="$ctrl.postUser(bus)">add</button>
    <button ng-click="$ctrl.removeThisFavorite(bus)">x</button>
  </div>

  <p ng-click="userService.getUser()">test click</p>
