<!-- <p>{{ $ctrl.title }} content goes here</p> -->
<!-- <div ng-repeat="user in $ctrl.users">
  <p>username:{{user.username}}</p>
  <p>favorites:{{user.favorites}}</p>
</div> -->
<!--
<p>This users favorites are {{$ctrl.favorites}}</p> -->
<p>username: {{$ctrl.user.user.username}}</p>
  <button ng-click="$ctrl.getUser()">get user</button>
  <input ng-model="$ctrl.user.user.username"/>
  <input ng-model="$ctrl.user.user.local.email"/>
  <input ng-model="$ctrl.user.user.favorites"/>

  <button ng-click="$ctrl.postUser()">post user</button>
  <!-- <input/> -->
