<div class="showingFor">
	<p>Showing schedule for: {{$ctrl.selectedStation}}</p>
</div>

<div class="ticker">
		<ul>
			<li ng-repeat="train in $ctrl.station" ng-class="{'red': train.LINE == 'RED', 'green': train.LINE == 'GREEN', 'gold': train.LINE == 'GOLD', 'blue': train.LINE == 'BLUE'}">
				{{train.LINE}} line, heading {{train.DIRECTION}}
				to {{train.DESTINATION}}: {{train.WAITING_TIME}}
				({{train.WAITING_SECONDS}} sec)
				<!-- <button>Add to Favorites</button> -->
			</li>
			<!-- <li ng-repeat="bus in $ctrl.busStop">
				{{bus.TIMEPOINT}} : {{bus.LATITUDE}}, {{bus.LONGITUDE}}
			</li> -->
		</ul>
</div>
