<div class="navBar">
  <!-- <a href=''><h2>[]</h2></a> -->
  <a ui-sref="home"><img src="./images/marta-logo.jpg"/></a>

  <h2 class="center" id="marta">MARTA scheduler</h2>
  <div class="links">
    <!-- <a ui-sref="/logout">Account</a><br> -->
    <a href="/login" ng-hide="$ctrl.user.username" >Login</a><br>
    <a href="/logout"  ng-show="$ctrl.user.username">Logout</a>
    <a ui-sref="favorites"><p>{{$ctrl.user.username}}</p></a>
  </div>
</div>

<div class="favorites">
  <p>></p>
  <div ng-repeat="favorite in $ctrl.user.favorites" class="favorite">
    <p>{{favorite}}</p>
    <!-- <span ng-click="$ctrl.removeThisFavorite(bus)">x</span> -->
  </div>

</div>
