<div class="profile">

<div class="info">
  <h1>Account Details</h1><br>
  <div class="details">
    <p>username:      {{ $ctrl.user.username }} </p><br>
    <p>email:     {{ $ctrl.user.email }} </p>
  </div>
</div>

<div class="manage">
  <h1>Edit Favorites</h1>
  <!-- <h2 ng-show="$ctrl.user.username">your current favorites:</h2> -->
  <div ng-repeat="favorite in $ctrl.user.favorites">
    <h4>{{favorite}}</h4>
    <!-- <p ng-click="$ctrl.removeFavorite(favorite)">x</p> -->
    <img ng-click="$ctrl.removeFavorite(favorite)" class="fill" src="../images/thumbdown.svg"/>
  </div>

  <!-- <label>browse</label> -->
  <select ng-model="$ctrl.add" >
    <option ng-repeat="train in $ctrl.trains" ng-model="$ctrl.train">{{train}}</option>
  </select>
  <!-- <p>save to favorite</p> -->
  <img ng-click="$ctrl.addNewFavorite($ctrl.train)" src="../images/thumbup.svg"/>
</div>

</div>

<!-- <p>{{$ctrl.user}}</p> -->
