body {
  padding: 0;
  margin: 0;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
  background-color: #2A363B;
}

a {
  color: black;
  text-decoration: none;
}
.navBar {
  background-color: #FECEA8;
  padding: 10px;
  width: 100%;
  height: 70px;
  margin: 0;
  display: flex;
  align-items: center;
}
.navBar h1 {
  font-family: 'Raleway Dots';
  font-size: 50px;
}
.navBar img {
  /*align-self: flex-start;*/
  /*opacity: .5;*/
}
#searchGlass {
  opacity: .3;
  align-self: center;
}
.logo {
  width: 70px;
  height: 70px;
  /*background: white;*/
  background-image: url("../images/marta-logo.jpg");
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h1{
  color: white;
  font-size: 70px;
  align-self: center;
  text-align: center;

}

.links {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  flex-wrap: nowrap;
  align-items: center;;
  justify-content: space-between;
  height: 70px;
  line-height: 1;
  width: 120px;
}
.links a {
  margin: 0;
}
/*#marta {
  text-align: center;
  margin: 0 auto;
}*/

.navBar p, h4, a {
  /*display: inline;*/
  /*margin: 0;*/
}
.navBar h2 {
  display: inline-block;
  /*width: 100px;*/
  /*padding: 0;*/
  /*margin: 0 auto;*/
  text-align: center;
}
.left{
  text-align: left;
}

.center{
  text-align: center;
  margin: 0 auto;
}

.right{
  /*text-align: right;*/
  float: right;
  margin-right: 20px;
}

.favorites {
  /*background-color: #00BBE5;*/
  background-color: #FF847C;
  color: #2A363B;
  margin: 0;
  padding-right: 10px;
  width: 100%;
  /*max-height: 70px;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*flex-wrap: wrap;*/
  /*height: 50px;*/
}
.favorite {
  align-self: center;
}
.favorites p {
  display: inline-block;
  align-self: center;
  padding: 5px;
  border-right: 1px solid white;
}
.favorites p:last-child {
  border-right: none;
  flex-shrink: 1;
}

.profile {
  color: #99B898;

  width: 400px;
  margin: 0 auto;
  /*border: 1px solid gray;*/
  display: flex;
  text-align: center;
  /*align-items: baseline;*/
  flex-direction: row;
  /*justify-content: center;*/*/
}
.profile h4, p {
  display: inline-block;
}
.profile h4 {
  font-size: 20px;
  margin: 0;
}
.manage {
  width: 500px;
}
.fill {
  fill: white;
}

.details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /*border: 1px solid gray;*/
}

.info {
  /*border: 1px solid gray;*/
}

.search {
  /*top:50px;*/
  width: 60%;
  margin: 0 auto;
  background: white;
  /*background: black;*/
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search img{
  align-self: center;
  /*margin: 0  0 0 10%;*/
}
.searchInput {
  margin: 0 auto;
}
input[type=text]{
  width: 200px;;
  text-align: center;
  height: 40px;
  font-size: 20px;
  outline: none;
  border: none;

}
.fixed {
  position: static;
  width: 100%;
  top: 0;
  /*margin: 0 auto;*/
  /*top: 70px;*/
}
.ticker {
  border: 3px solid gray;
  border-radius: 20px;
  background-color: #2A363B;
  width: 60%;
  height: 400px;
  /*border-top: 5px solid #FF847C;*/
  margin: 0 auto;
  display: flex;
  flex-direction: center;
  align-items: center;
  overflow: scroll;
  font-family: 'Raleway Dots', sans-serif;;
}
.ticker li{
  list-style: none;
}
.showingFor {
  color: white;
  width: 100%;
  height: 30px;
  text-align: center;
  /*background-color: #FF847C;*/
}
.red {
  color: #E84A5F;
}
.green {
  color: #99B898;
}
.blue {
  color: #00BBE5;
}
.gold {
  color: #FECEA8;
}
@media only screen and (max-width: 500px) {
    .search {
        width: 100%;
    }
    .navBar h1 {
      font-size: 30px;
    }
    .ticker {
      width: 98%;
    }
}
